@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Light Theme */
:root {
  --background: rgba(255, 255, 255, 1);
  --text: rgba(0, 0, 0, 1);
  --stroke: rgba(0, 0, 0, 0.5);
  --surface: rgba(0, 0, 0, 0.05);
  --surface-hover: rgba(0, 0, 0, 0.02);
  --highlight: rgba(0, 0, 0, 0.1);
}

/* Dark Theme */
.dark {
  --background: rgba(0, 0, 0, 1);
  --text: rgba(255, 255, 255, 1);
  --stroke: rgba(255, 255, 255, 0.5);
  --surface: rgba(255, 255, 255, 0.1);
  --surface-hover: rgba(255, 255, 255, 0.05);
  --highlight: rgba(255, 255, 255, 0.2);
}


@theme inline {
  /* Background & Foreground */
  --color-background: var(--background);

  /* Text */
  --color-foreground: var(--text);

  /* Stroke / Borders */
  --color-stroke: var(--stroke);

  /* Surfaces */
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);

  /* Highlight */
  --color-highlight: var(--highlight);

  /* Fonts */
  --font-sans: var(--font-inter), sans-serif;

  /* Body Typography */
  --text-body-sm-size: 0.875rem; /* 14px */
  --text-body-sm-line-height: 1.5rem; /* 24px */ 
  --text-body-sm-weight: 400;

  --text-body-md-size: 1rem;
  --text-body-md-line-height: 1.5rem;
  --text-body-md-weight: 500;
}

@layer base {
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-inter), sans-serif;
  }

  button {
    cursor: pointer;
  }
}

/* Typography Utility Classes */
@utility text-body-sm {
  font-family: var(--font-sans);
  font-size: var(--text-body-sm-size);
  line-height: var(--text-body-sm-line-height);
  font-weight: var(--text-body-sm-weight);
}

@utility text-body-md {
  font-family: var(--font-sans);
  font-size: var(--text-body-md-size);
  line-height: var(--text-body-md-line-height);
  font-weight: var(--text-body-md-weight);
}
